---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import piano3 from "../assets/images/piano3.webp";
import piano6 from "../assets/images/piano6.webp";
import piano1 from "../assets/images/piano1.webp";
import piano11 from "../assets/images/piano11.webp";
---
<MainLayout 
title="Yahama GBK1 Flygel"
description="Yamaha GBK1 Grand Piano er et elegant og præcist klaverdesign med fyldig tone og sublim spilbarhed. Det tilbyder en unik musikalsk oplevelse for både professionelle og ambitiøse musikere. Med Yamahas arv af excellence og håndværksmæssige finesse er GBK1 det ideelle valg for enhver, der søger en førsteklasses klaveroplevelse."
ogtile="Produkt GBK1 Flygel"
ogdescription="Yamaha GBK1 Grand Piano kombinerer elegance, præcision og en unik musikalsk oplevelse for både professionelle og ambitiøse musikere. Med Yamahas arv af excellence er det det ideelle valg for førsteklasses klaveroplevelse."
>
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Yamaha - GBK1 Flygel</h1>


        <h2>INTRODUKTION</h2>

        <p>Yamaha GBK1 Grand Piano er inkarnationen af elegance og præcision inden for klaverdesign. Med en fyldig tone og sublim spilbarhed tilbyder dette flygel en unik musikalsk oplevelse, der appellerer til både professionelle og ambitiøse musikere. Med Yamaha's arv af excellence og håndværksmæssige finesse er GBK1 det ideelle valg for enhver, der søger en førsteklasses klaveroplevelse.</p>

        <h2>GB1K OVERSIGT</h2>

        <p>GB1K, Yamahas mest kompakte flygel, er et populært valg til steder, hvor pladsen er relativt begrænset, idet det giver en fuld, klangfuld tone, der kan sammenlignes med mange betydeligt større modeller. Det kan beskrives som et flygel der har:</p>

        <ul>
            <li>Elegance</li>
            <li>Præcision</li>
            <li>Fyldig tone</li>
            <li>Sublim spilbarhed</li>
            <li>Førsteklasses kvalitet</li>
          
        </ul>
     

        <Image src={piano3} alt="billede af flygel indvendigt" />

        <hr>

        <h3>Klaverrammen: En essentiel komponent</h3>

        <p>
            Rammen i et klaver spiller en afgørende rolle i instrumentets konstruktion og lydkvalitet. Den skal kunne modstå en samlet strengetension på mere end tyve tons, hvilket kræver nøje design og fremstillingsprocesser.
        </p>

        <h3>Støbningsteknik: Vakuumprocesens innovation</h3>

        <p>
            Yamaha anvender en avanceret støbningsmetode kaldet "vakuumproces" til at producere klaverets ramme. Denne teknik er verdens første af sin art og er udviklet gennem mange års erfaring med at skabe topkvalitets klavierrammer.
        </p>

        <h3>Akustisk indflydelse: Temperatur, sammensætning og belægning</h3>

        <p>Under fremstillingen af klaverets ramme fokuserer Yamaha på detaljer såsom kontrol af temperatur, støbningsmateriale og belægning. Disse faktorer har en direkte indvirkning på instrumentets akustiske egenskaber og bidrager til dets endelige lydkvalitet.</p>

        <h3>Kvalitetssikring: Garanti for pålidelig kvalitet</h3>

        <p>Yamaha har opbygget en omfattende videnbase omkring fremstillingsprocessen af klavierrammer. Denne ekspertise sikrer en pålidelig kvalitet i hvert enkelt instrument, hvilket er en af ​​grundene til, at Yamaha er førende inden for klaverproduktion.

        </p>

        <Image src={piano1} alt="billede af flygel i en stilfyldt stue" />

        <hr>

        <h3>Modnet til destinationen</h3>

        <p>
            Yamaha modner specifikt hvert klaver til dets destination. Stabiliteten i stemningen, finishen og den overordnede musikalske integritet forbedres over den lange forventede levetid af et fint klaver.
        </p>
        <hr>

        <Image src={piano6} alt="billede af flygels lågemekaniske" />

      
        <h3>Lågprop sikkerhedslås</h3>

        <p>
            GB1K er udstyret med en lågpropstopper for at forhindre, at dine fingre bliver fanget, når klaverets låg lukker uventet.
        </p>
      
        <h3>Blødt lukkende notepult</h3>
        <p>Notepulten er udstyret med en blød lukkemekanisme, der frigør dig fra bekymringen om, at den lukker på dine fingre uventet.</p>
     

        <hr>
        <h2>Produkt Information</h2>
        <h3>GB1K</h3>

        <p>
            Anbefalet detailpris baseret på Tyskland inklusive 19% moms:<br>
            Poleret Hvid 12.804,00 € <br>
            Poleret Ibentræ 13.812,00 € <br>
            Poleret Amerikansk Valnød 15.469,00 €
        </p>

        <p>
            Som Yamahas mest kompakte flygel bringer GB1K den umiskendeligt grandiose lyd til flere steder og inden for rækkevidde af flere mennesker end nogensinde før.
        </p>

        <ul>
            <li>Avanceret skala design</li>
            <li>Yamaha afbalanceret handling</li>
            <li>Vakuum Shield Mold Process (V-Pro) plade</li>
            <li>Modnet til destination</li>
        </ul>

        <hr>

        <h2>Forstærket virkelighed med klaverer</h2>
        <p>Oplev glæden ved at eje et klaver ved at bruge forstærket virkelighed til at se, hvordan et Yamaha-klaver vil se ud i dit hjem. Når du ser på en smartphone, skal du trykke på knappen "Se i dit rum". Når du ser på en pc, skal du bruge din smartphone til at læse QR-koden, der vises på din pc-skærm.</p>

        <p>[♪] Tryk på 3D-modellen for at afspille lyd. Tryk på 3D-modellen igen for at stoppe lyden. [Kun iOS]</p>

        <p>Besøg vores <a href="https://europe.yamaha.com/en/products/musical_instruments/pianos/grand_pianos/gb1k/index.html#product-tabs" alt="Yamaha-GBK1 Flygel" target="_blank">website</a></p>


			<Image src={piano11} alt="billede af kvinde der spiller på klaver og reklame for yamaha" />


     
        <hr>
    </article>
</MainLayout>

<!--
    <script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "HowTo", 
  "name": "Yamaha - GBK1",
  "description": "Yamaha GBK1 Grand Piano er inkarnationen af elegance og præcision inden for klaverdesign. Med en fyldig tone og sublim spilbarhed tilbyder dette flygel en unik musikalsk oplevelse, der appellerer til både professionelle og ambitiøse musikere. Med Yamaha's arv af excellence og håndværksmæssige finesse er GBK1 det ideelle valg for enhver, der søger en førsteklasses klaveroplevelse.",
  "step": [{
    "@type": "HowToStep",
    "text": "Yamaha GBK1 Grand Piano er inkarnationen af elegance og præcision inden for klaverdesign. Med en fyldig tone og sublim spilbarhed tilbyder dette flygel en unik musikalsk oplevelse, der appellerer til både professionelle og ambitiøse musikere. Med Yamaha's arv af excellence og håndværksmæssige finesse er GBK1 det ideelle valg for enhver, der søger en førsteklasses klaveroplevelse.",
    "name": "INTRODUKTION"
  },{
    "@type": "HowToStep",
    "text": "GB1K, Yamahas mest kompakte flygel, er et populært valg til steder, hvor pladsen er relativt begrænset, idet det giver en fuld, klangfuld tone, der kan sammenlignes med mange betydeligt større modeller.",
    "name": "GB1K OVERSIGT"
  },{
    "@type": "HowToStep",
    "text": "Rammen i et klaver spiller en afgørende rolle i instrumentets konstruktion og lydkvalitet. Den skal kunne modstå en samlet strengetension på mere end tyve tons, hvilket kræver nøje design og fremstillingsprocesser.",
    "name": "Klaverrammen: En essentiel komponent"
  },{
    "@type": "HowToStep",
    "text": "Yamaha anvender en avanceret støbningsmetode kaldet "vakuumproces" til at producere klaverets ramme. Denne teknik er verdens første af sin art og er udviklet gennem mange års erfaring med at skabe topkvalitets klavierrammer.",
    "name": "Støbningsteknik: Vakuumprocesens innovation"
  },{
    "@type": "HowToStep",
    "text": "Under fremstillingen af klaverets ramme fokuserer Yamaha på detaljer såsom kontrol af temperatur, støbningsmateriale og belægning. Disse faktorer har en direkte indvirkning på instrumentets akustiske egenskaber og bidrager til dets endelige lydkvalitet.",
    "name": "Akustisk indflydelse: Temperatur, sammensætning og belægning"
  },{
    "@type": "HowToStep",
    "text": "Yamaha har opbygget en omfattende videnbase omkring fremstillingsprocessen af klavierrammer. Denne ekspertise sikrer en pålidelig kvalitet i hvert enkelt instrument, hvilket er en af ​​grundene til, at Yamaha er førende inden for klaverproduktion.",
    "name": "Kvalitetssikring: Garanti for pålidelig kvalitet"
  },{
    "@type": "HowToStep",
    "text": "Yamaha modner specifikt hvert klaver til dets destination. Stabiliteten i stemningen, finishen og den overordnede musikalske integritet forbedres over den lange forventede levetid af et fint klaver.",
    "name": "Modnet til destinationen"
  },{
    "@type": "HowToStep",
    "text": "GB1K er udstyret med en lågpropstopper for at forhindre, at dine fingre bliver fanget, når klaverets låg lukker uventet.",
    "name": "Lågprop sikkerhedslås"
  },{
    "@type": "HowToStep",
    "text": "Notepulten er udstyret med en blød lukkemekanisme, der frigør dig fra bekymringen om, at den lukker på dine fingre uventet.",
    "name": "Blødt lukkende notepult"
  },{
    "@type": "HowToStep",
    "text": "Anbefalet detailpris baseret på Tyskland inklusive 19% moms:

Poleret Hvid 12.804,00 €

Poleret Ibentræ 13.812,00 €

Poleret Amerikansk Valnød 15.469,00 €

Som Yamahas mest kompakte flygel bringer GB1K den umiskendeligt grandiose lyd til flere steder og inden for rækkevidde af flere mennesker end nogensinde før.

Avanceret skala design
Yamaha afbalanceret handling
Vakuum Shield Mold Process (V-Pro) plade
Modnet til destination",
    "name": "Produktinformation GB1K"
  },{
    "@type": "HowToStep",
    "text": "Oplev glæden ved at eje et klaver ved at bruge forstærket virkelighed til at se, hvordan et Yamaha-klaver vil se ud i dit hjem. Når du ser på en smartphone, skal du trykke på knappen "Se i dit rum". Når du ser på en pc, skal du bruge din smartphone til at læse QR-koden, der vises på din pc-skærm.

[♪] Tryk på 3D-modellen for at afspille lyd. Tryk på 3D-modellen igen for at stoppe lyden. [Kun iOS]

besøg vores website",
    "name": "Forstærket virkelighed med klaverer",
    "url": "https://europe.yamaha.com/en/products/musical_instruments/pianos/grand_pianos/gb1k/index.html#product-tabs"
  }]    
}
</script>
 -->